<!DOCTYPE html>
<html lang="is">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro:700" rel="stylesheet">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>
      <% if (locals.user) { %>
        <div class="header__main">
          <div class="header__navbar">

              <a href='/' class="<%= page === 'apply' ? 'active__page' : 'nonactive__page' %>">Atvinnuumsókn</a>
              <a href='/applications' class="<%= page === 'applications' ? 'active__page' : 'nonactive__page' %>">Umsóknir</a>
              <a href='/admin' class="<%= page === 'admin' ? 'active__page' : 'nonactive__page' %>">Notendur</a>
          </div>
          <div class="logout">
            <p><%= locals.user %></p>
            <a href="/logout">Útskrá</a>
          </div>
        </div>
      <% } else { %> 
        <div class="header__main">
          <div class="header__navbar">
            <a href='/' class="<%= page === 'apply' ? 'active__page' : 'nonactive__page' %>">Atvinnuumsókn</a>
            <a href='/login' class="<%= page === 'login' ? 'active__page' : 'nonactive__page' %>">Innskráning</a>
            <a href='/register' class="<%= page === 'register' ? 'active__page' : 'nonactive__page' %>">Nýskráning</a>
          </div>
        </div>
      <% } %>
    </header>
    <main>
