<%- include('header') -%>

<form method="post" action="/login">
  <div class="field">
    <label for="username">Notendanafn</label>
    <input type="text" name="username" id="username" value="<%= username %>" class="">
  </div>
  <div class="field">
    <label for="password">Lykilorð</label>
    <input type="password" name="password" id="password" value="<%= password %>" class="">
  </div>

  <% if (errors !== '') { %>
    <h2>Vandræði við að innskrá:</h2>
    <ul class="error_list">
      <li>
        <%- errors %>
      </li>
    </ul>
    <% }%>

  <button>Innskrá</button>
</form>

<p><%= locals.message %></p>

<%- include('footer') -%>
